.bg-primary {
  background-color: #107491 !important;
}

#sideNav {
  /* TODO: Linear Gradient */
}

.text-primary {
  color: #107491 !important;
}

a {
  color: #107491;
}

.list-social-icons a:hover {
  color: #107491;
}

.list-icons .list-inline-item i:hover {
  color: #107491;
}
